.billing__form .form__group input{
    height: 32px;
width: 193px;
border-radius: 8px;
border: 1px solid #B6B6B6;
font-size: 13px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
.checkout__cart{
    padding:20px;
    background-color: var(--primary-color);
    color:#fff;
    border-radius: 5px;
}
.checkout__cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout__cart h6{
    margin-bottom:20px;
}
.checkout__cart h4{
    border:1px solid var(--primary-color);
    padding-top: 20px;
}
label {
        display: block!important;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
}